.option {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    border-bottom: 1px solid grey;
}

.option__item {
    font-family: $secondary-font;
    color: #fff;
    font-size: smaller;
    word-break: break-all;
}

.option__remove {
    font-size: $s-size;
    padding: 0.6rem;
    font-family: $secondary-font;
    color: #fff;
    border: none;
    background-color: darken($primary-color, 13%);
    border-radius: 3px;
}