//Import fonts via google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:500|Roboto+Slab:700&display=swap');

// Colors
$primary-color: #166777;
$secondary-color: #0c343b;
$accent-color: #15c590;

// Font-sizes
$l-size: 4.6rem;
$m-size: 1.8rem;
$sm-size: 1.5rem;
$s-size: 1.3rem;

//Responsive font sizes
$res-l-size: 4rem;
$res-m-size: 1.4rem;

//Breakpoints
$mobile-breakpoint: 45rem;

//Fonts
$primary-font: 'Roboto Slab';
$secondary-font: 'Montserrat'